<link rel="stylesheet" href="/managefile.css" />

<h1>Página para gerenciar seus arquivos.</h1>

<form action="/adm" method="get">
    <button type="submit">Voltar</button>
</form>

<br><br><br>


{{!-- <form action="" method="post">
    <input type="text" placeholder="Nome do arquivo">
    <br><br>
    <input type="file" name="" id="">
<br><br>
    <button type="submit">Upar arquivo</button>
</form> --}}

<form action="/adm/managefile/view" method="get">
    <button type="submit">Ver arquivos existentes</button>

    <table>
        <tr>
            <th>Nome do arquivo</th>
            <th>Matéria</th>
            <th>Criado em</th>
            <th>Atualizado em</th>

        </tr>
        <tr>
            <td>Conteudo</td>
            <td>Conteudo</td>
            <td>Conteudo</td>           
        </tr>
    </table>

</form>

{{!-- <ul class="people_list">
  {{#each this}}
  <li>{{findResult}}</li>
  {{/each}}
</ul> --}}

<br><br><br>

{{#if errorUpload }} <!-- #se [houver mensagem de erro passada] -->
<div class="alert alert-danger">{{errorUpload}}</div>
{{/if}}

{{#if successUpload }} <!-- #se [houver mensagem de sucesso passada] -->
<div class="alert alert-success">{{successUpload}}</div>
{{/if}}

<form action="/adm/managefile/create" method="post" enctype="multipart/form-data">
    <input type="file" name="file" id="file">
    <br>
    <button type="submit">Adicionar</button>

</form>