<h1>Página para gerenciar seus arquivos.</h1>

<form action="/adm" method="get">
    <button type="submit">Voltar</button>
</form>


<br><br><br>


<form action="" method="post">
    <input type="text" placeholder="Nome do arquivo">
    <br><br>
    <input type="file" name="" id="">
<br><br>
    <button type="submit">Upar arquivo</button>
</form>