
<section class="section_controls">
    <button class="btn {{ bootstrapClassBtn }}" data-bs-toggle="modal" data-bs-target="#{{ target }}"><i class="{{ icon }}"></i> {{ title }}</button>
</section>

<style>
    .section_controls {
        display: flex;
        justify-content: end;
        padding: 1rem 2rem;
    }
</style>